<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-header :: head">
	</head>
	<body>
		<div th:replace="fragments/fragment-header :: navigation"></div>
		<div style="margin-bottom:20px" ><a href="/login">Login</a></div>
		<div style="margin-bottom:20px" th:if="${#httpServletRequest.isUserInRole('ADMIN')}"><a href="/student/viewall"> View All Student</a></div>
		<div style="margin-bottom:20px">
			<h3>View Student By NPM</h3>
			<form th:action="@{/student/view}" method="get">
 			<div><label> NPM : <input type="text" name="npm"/></label></div>
 			<div><button type="submit">Search</button></div>
 		</form>
		</div>
		<div th:replace="fragments/fragment :: footer"></div>
	</body>
</html>