<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment-header :: head"></head>
    <body>
    		<div th:replace="fragments/fragment-header :: navigation"></div>
    		<h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login as</h2>
    		<form th:action="@{/logout}" method="post" style="margin-bottom:20px">
			<input type="submit" value="Sign Out"/>
		</form>
       	<h3 th:text="'NPM = ' + ${student.npm}">Student NPM</h3>
       	<h3 th:text="'Name = ' + ${student.name}">Student Name</h3>
       	<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
       	<div th:replace="fragments/fragment :: footer"></div>
    </body>
</html>

